<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><b>SECTOR</b>SCAPE</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Free Sign Up", new_user_registration_path %></li>
                  <li><%= link_to "Log In", new_user_session_path %></li>
                  <li><%= link_to "About", about_path %></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

          <div class="inner cover">
            <h2 class="cover-heading">Pinpoint any startup in the industry landscape 10x faster.</h2>
          <div class="cover-container">
            <p class="lead"><b>Sectorscape</b><font size= "4"> is a free collaborative market intelligence platform built for entrepreneurs to research <u>industry landscapes</u>, identify <u>niche verticals</u>, and to share <u>competitor analysis</u>.</font></p>
            <p class="lead">
            <%= link_to "Request Beta", new_user_session_path, class: "btn btn-lg btn-default" %>
            </p>
         

          <div class="mastfoot">
            <div class="inner">
              <p>Powered by <a href="http://crunchbase.com">Crunchbase</a> and <a href="http://angel.co">AngelList</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>